.app {
    display: flex;
    min-height: 100vh;
    background-color: #f4f4f4;
    font-family:Arial, Helvetica, sans-serif;
  }
  .main-content {
    flex: 1;
    padding-left: 40px;
    transition: padding-left 0.2s ease;
    margin-left: 20px;
   
  }
  .main-content.expanded {
    padding-left: 172px;
  }
  
  @media (max-width: 768px) {
    .main-content.expanded {
     
      padding-left: 40px;
    }
  }
  